@import "bootstrap-sprockets";
@import "bootstrap";

 .user-info {
   margin-bottom: 5px;
 }
 
 .nav {
   margin-top: 5px;
 }
 
 .username {
   margin-top: 6px;
   margin-left: 6px;
 }


@import "welcome.scss"